APP_PORT=
DB_HOST=Hostname for MySQL connection
DB_PORT=Port for MySQL connection
DB_USER=Username for your Aiven for MySQL connection
DB_PASSWORD=Password of your Aiven for MySQL connection
DB_NAME=Database Name of your Aiven for MySQL connection
JWT_ACCESS_SECRET_KEY =
JWT_REFRESH_SECRET_KEY =
JWT_ACCESS_EXPIRATION = 
JWT_REFRESH_EXPIRATION =
ADMIN_OP_API_KEY = for specific admin operations. Passed via headers
MAIL_PORT = mailtrap port number taken from site
MAIL_USER = mailtrap user taken from site
MAIL_PASS = mailtrap password taken from site